{% extends "base.html" %}
{% load static %}

{% block title %}Categories{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}

{% block content %}

<div class="container-categories">
    <h2>Categories</h2><br>
    <div class="maindiv">
        <div class="add-product">
            <a href="/categories/add/" class="csbtn">
                <span>
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M5 12h14m-7 7V5" />
                    </svg>
                </span> Add Category
            </a>
        </div>
    </div>
</div>

<!-- Categories Display -->
<div class="category-content">
    <div class="category-cards">
        {% for category in categories %}
        <div class="cardss">
            <div class="sub-cards">
                {% if category.icon %}
                <img src="{{ category.icon.url }}" alt="{{ category.name }}" width="84" height="84">
                {% else %}
                <svg width="84" height="84" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 4H18L20 10V20H4V10L6 4Z" stroke="#561c77" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
                {% endif %}
            </div>
            <div class="itm">
                <strong>
                    <h3>{{ category.name }}</h3>
                </strong>
                <p>{{ category.products.count }} items</p>
                <a href="{% url 'category_products' category.id %}" class="view-products">View Products</a>
            </div>
        </div>
        {% empty %}
        <p>No categories available.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}