{% extends "base.html" %}
{% load static %}
{% block title %} Products {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/category_product.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <h2>{{ category.name }}</h2>
    <div class="products-grid">
        {% for product in products %}
        <div class="product-card">
            {% if product.images.all %}
            <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
            {% else %}
            <p>No image available</p>
            {% endif %}
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
        </div>
        {% empty %}
        <p>No products available in this category.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}