{% extends "base.html" %}
{% load static %}
{% block title %}Add Store{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/add_store.css' %}">
{% endblock %}
{% block content %}

<div class="container">
    <h2 class="title">Add Store</h2>
    <form class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label>Store Name*</label>
            <input type="text" name="name" placeholder="Enter store name" required>
        </div>

        <div class="form-group">
            <label>Store Category*</label>
            <select name="category" required>
                <option value="">Select Category</option>
                <option value="Grocery">Grocery</option>
                <option value="Electronics">Electronics</option>
                <option value="Clothing">Clothing</option>
                <option value="Furniture">Furniture</option>
            </select>
        </div>

        <div class="form-group">
            <label>Phone Number*</label>
            <input type="tel" name="phone_number" placeholder="Enter phone number" required>
        </div>

        <div class="form-group">
            <label>Email Address*</label>
            <input type="email" name="email" placeholder="Enter email address" required>
        </div>

        <div class="form-group">
            <label>Store Address*</label>
            <input type="text" name="address" placeholder="Enter store address" required>
        </div>

        <div class="form-group">
            <label>Store Images*</label>
            <input type="file" name="images" multiple required>
        </div>

        <div class="form-group">
            <label>Descrciption</label>
            <input type="text" name="address" placeholder="Enter store Descrciption(Optional)" required>
        </div>
        <div class="form-group">
            <label>Location*</label>
            <input type="text" name="location" placeholder="Enter Your Location" required>
        </div>

        <div class="form-group full-width">
            <button type="submit" class="submit-btn">Upload Store</button>
        </div>

    </form>
</div>

{% endblock %}