
.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin-top: 20px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}



.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 80px;
}

.submit-btn-container {
    display: flex;
    justify-content: center;
    grid-column: span 2; /* Ensures it spans across both columns in the grid */
}

.submit-btn {
    text-align: center;
    padding: 10px;
    background-color: #6200ea;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 20%; 
}

.submit-btn:hover {
    background-color: #4b00c2;
}
