{% extends "base.html" %}
{% load static %}

{% block title %} Add-Products {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="add-products">
    <h2>Add Products</h2>
    <div class="form-container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="name">Name*</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="item_code">Item code*</label>
                <input type="text" id="item_code" name="item_code" required>
            </div>
            <div class="form-group">
                <label for="category">Category*</label>
                <select id="category" name="category" required>
                    <option value="">Select Category</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="stock">Stock size*</label>
                <input type="text" id="stock" name="stock" required>
            </div>
            <div class="form-group">
                <label for="stores">Stores availability*</label>
                <select id="stores" name="stores" multiple>
                    {% for store in stores %}
                    <option value="{{ store.id }}">{{ store.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="price">Price*</label>
                <input type="number" id="price" name="price" required step="0.01">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="photos">Product photos*</label>
                <input type="file" id="photos" name="photos" multiple>
            </div>

            <div class="submit-btn-container">
                <button type="submit" class="submit-btn">Save product</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}