{% extends "base.html" %}
{%load static%}
{% block title %}Home Page{% endblock %}
{%block head%}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{%endblock%}
{% block content %}
<div class="home-container">
    <section class="recent-activity">
        <h2>Recent Activity</h2>
        <div class="card-container">
            <div class="card">
                <div class="card-content">
                    <h3>999</h3>
                    <p>NEW ITEMS</p>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <h3>123</h3>
                    <p>NEW ORDERS</p>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <h3>12</h3>
                    <p>REFUNDS</p>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <h3>1</h3>
                    <p>MESSAGE</p>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <h3>4</h3>
                    <p>GROUPS</p>
                </div>
            </div>
            <div class="arrow">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="m9 5 7 7-7 7" />
                    </svg>
                </span>
            </div>
        </div>
        </section>

    <section class="sub-details">
        <div class="stock-numbers-card">
            <h3>Stock Numbers</h3>
            <div class="stock-numbers">
                <div class="stock-item">
                    <p>Low stock items</p>
                    <p>12</p>
                </div>
                <div class="stock-item">
                    <p>Items Categories</p>
                    <p>6</p>
                </div>
                <div class="stock-item">
                    <p>Refunded items</p>
                    <p>1</p>
                </div>
            </div>
        </div>

        <div class="store-list-card">
            <div class="list-card-header">
                <span>Stores list</span>
                <span class="view-all">VIEW ALL</span>
            </div>
            <div class="store-list">
                <div class="store-item">Manchester, UK</div>
                <div class="store-item">23 employees</div>
                <div class="store-item">308 items</div>
                <div class="store-item">2 orders</div>
                <div class="store-item">Yorkshire, UK</div>
                <div class="store-item">11 employees</div>
                <div class="store-item">291 items</div>
                <div class="store-item">15 orders</div>
                <div class="store-item">Hull, UK</div>
                <div class="store-item">5 employees</div>
                <div class="store-item">41 items</div>
                <div class="store-item">11 orders</div>
                <div class="store-item">Leicester, UK</div>
                <div class="store-item">16 employees</div>
                <div class="store-item">261 items</div>
                <div class="store-item">8 orders</div>
            </div>
        </div>
    </section>
</div>
{% endblock %}